{% extends "app.html" %}
    <!-- Main Content -->
     {% block content %}
     <main class="container my-5">
        <h2 class="text-center mb-4">Event List</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover align-middle">
                <thead>
                    <tr>
                        <th>#Form ID</th>
                        <th>Name</th>
                        <th>About</th>
                        <th>Responses</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Example rows -->
                    <tr>
                        {% for i in responses %}
                        <td>{{ i.id }}</td>
                        <td>{{ i.username }}</td>
                        <td>{{ i.event.eventname }}</td>
                        <td><a href="/answer/{{i.id}}">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

{% endblock %}